<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="cabecera">
        <h1>Our Image Gallery</h1>
    </div>
    <div class="contenido">
        <mat-form-field>
            <mat-label>Set size page</mat-label>
            <input matInput type="number" [(ngModel)]="sizePictures">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Filter by author</mat-label>
            <input matInput placeholder="author" type="text" #myInput [(ngModel)] ="author" (input)="filtrar()">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter page number" [(ngModel)]="pageNumber" type="number">
        </mat-form-field> <br>
       


    </div>

    <div class="controller">
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>    
    </div>

    <div class="grid">
        <div class="image" *ngFor= 'let picture of pictures | paginate: { itemsPerPage: sizePictures, currentPage: pageNumber }'>
            <app-picture  [picture]="picture"></app-picture>
        </div>
    </div>
    <br>
    

    <div class="footer">
        <div class="Vale">
            <mat-icon aria-hidden="false">person</mat-icon>
            Valentina Calderon <br> jucalderon10@poligran.edu.co <br> Ingenieria de Sistemas
        </div>
        <div class="Jhon">
            <mat-icon aria-hidden="false">person</mat-icon>
            Jhon Jairo Ballen <br> jhballen@poligran.edu.co <br> Ingenieria de Sistemas
        </div>
        <div class="Sebastian">
            <mat-icon aria-hidden="false">person</mat-icon>
            Sebastian Barragan <br> jubarragan2@poligran.edu.co <br> Ingenieria de Sistemas
        </div>
    </div>
</div>


